<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.neo.sea">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <permission
        android:name="org.neo.sea.PROVIDE_MODULE"
        android:description="@string/perm_provide_module_desc"
        android:label="@string/perm_provide_module_label" />

    <application
        android:name=".core.SeaApplication"
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_more"
        android:label="@string/app_name">
        <activity
            android:name=".ui.ModuleToggleActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/module_toggler_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.FirstRunActivity"
            android:label="@string/title_activity_first_run"
            android:theme="@android:style/Theme.Material.NoActionBar"/>

        <activity
            android:name=".ui.RuleManagerActivity"
            android:description="@string/rule_manager_desc"
            android:label="@string/rule_manager_label"
            android:theme="@android:style/Theme.Material" />

        <service
            android:name=".core.SeaService"
            android:description="@string/sea_service_desc"
            android:enabled="true"
            android:label="@string/sea_service_label" />

        <receiver
            android:name=".core.BootReceiver"
            android:description="@string/boot_receiver_desc"
            android:enabled="true"
            android:label="@string/boot_receiver_label">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.PackageReceiver"
            android:description="@string/package_receiver_desc"
            android:enabled="true"
            android:label="@string/package_receiver_label">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
